---
title: Schedule
filter: erb
---
<p><a href="#about">About Our Technical Program</a> | <a href="#sessions">Sessions</a></p>
<h2><a name="about">About Our Technical Program</a></h2>
<p>Creating a technical program for a conference involves juggling a lot of different and potentially conflicting goals. We want to have the best program possible, but what does that mean? We want to be completely open about our goals and our process, and to let you know how you can participate.</p>

<p>We have two main goals in terms of who should present. First, we want to serve local residents who don't get to travel to conferences in other cities, so we decided to bring in speakers from all over who would be of interest to locals. Next, we want to take advantage of all the amazing local talent, and let visitors see just why the Bay Area rocks so hard.  That means a mix of local and, um, global speakers.</p>

<p>We also feel it is time to try something different from the seemingly standard process of having an early call for proposals, followed by a lengthy review and selection by a few people behind closed doors.  That works well for a lot of conferences, but this is San Francisco, after all.  So we are constructing the program as a mix of invited talks and attendee-selected talks.  Without waiting for proposals, we have gone out and invited a lot of great speakers to give you a solid core program.  This lets us use our own editorial bias on what we think is worth talking about.  But we also want to hear about new stuff, stuff we aren't aware of, and stuff you have your own interest in.  So we're reserving roughly half the program for talks to be selected by attendee voting.</p>

<p>Sometime in mid-February we'll be opening a web site where anyone can propose a talk. We'll be moderating proposals, and working with submitters to make sure the talk is appropriately targeted for the audience and conference theme. Then registered attendees will be able to vote on the talks they want to see. This gives you a say in the content of the program, and it gives presenters enough lead time to prepare good talks.  We'll have more details on this process and system soon.</p>

<p>In the meantime, if you want to present at the conference we certainly don't mind hearing from you, but we won't be making any decisions about adding more talks to the program until the voting system is in place and attendees have made their selections.  We still have a few invited talks we're waiting for descriptions of, so you'll see additions to the schedule as those trickle in.</p>

<p>&mdash; Josh Susser, program chair</p>

<h2><a name="sessions">Sessions</a></h2>
<ul class="sessions">
  <li><%= render :partial => "/sessions/panel-frameworks" %></li>
  <li><%= render :partial => "/sessions/borenstein-rad" %></li>
  <li><%= render :partial => "/sessions/elliott-shoes" %></li>
  <li><%= render :partial => "/sessions/grigorik-proxies" %></li>
  <li><%= render :partial => "/sessions/kallen-sprinkles" %></li>
</ul>

<h2>Stay Tuned&hellip;</h2>
<p>More sessions will be announced soon!</p>
