---
title: Schedule
filter: erb
---

<h2><a name="sessions"></a>Schedule Grid</h2>
<%= render :partial => "grid" %>

<h2><a name="sessions"></a>Sessions</h2>
<ul class="slots">
  <li><%= render :partial => "/2009/sessions/kilmer-macruby" %></li>
  <li><%= render :partial => "/2009/sessions/quint-sinatra" %></li>
  <li><%= render :partial => "/2009/sessions/stevenson-sandbox" %></li>
  <li><%= render :partial => "/2009/sessions/miller-osdv" %></li>
  <li><%= render :partial => "/2009/sessions/catlin-wikimedia" %></li>
  <li><%= render :partial => "/2009/sessions/grigorik-proxies" %></li>
  <li class="featured"><%= render :partial => "/2009/sessions/panel-frameworks" %></li>
  <li><%= render :partial => "/2009/sessions/lerche-fast" %></li>
  <li><%= render :partial => "/2009/sessions/kallen-sprinkles" %></li>
  <li><%= render :partial => "/2009/sessions/zvents-hyperrecord" %></li>
  <li><%= render :partial => "/2009/sessions/crosby-cloudkit" %></li>
  <li><%= render :partial => "/2009/sessions/elliott-shoes" %></li>
  <li><%= render :partial => "/2009/sessions/maher-baobab" %></li>
  <li><%= render :partial => "/2009/sessions/aimonetti-couchdb" %></li>
  <li><%= render :partial => "/2009/sessions/helmkamp-webrat" %></li>
  <li><%= render :partial => "/2009/sessions/borenstein-rad" %></li>
  <li><%= render :partial => "/2009/sessions/sobo-unison" %></li>
</ul>
