---
title: Schedule
filter: erb
---

<h2><a name="sessions"></a>Schedule Grid</h2>
<table id="grid">
  <thead>
    <tr class="r2">
      <th> </th>
      <td>Friday</td>
      <td>Saturday</td>
    </tr>
  </thead>
  <tbody>
    <tr class="r1"><th>8:30</th>
      <td>Registration and Continental Breakfast</td>
      <td>Continental Breakfast</td>
    </tr>
    <tr class="r1"><th>9:30</th>
      <td>Welcome and Introduction</td>
      <td>Announcements</td>
    </tr>
    <tr class="r2"><th>9:45</th>
      <td><a "#kilmer">MacRuby and HotCocoa</a> - Rich Kilmer</td>
      <td><a "#tyler">Hypertable and Rails: DB Scaling Solutions with HyperRecord</a> - Josh Tyler</td>
    </tr>
    <tr class="r1"><th>10:15</th><td class="break">break</td><td class="break">break</td></tr>
    <tr class="r2"><th>10:30</th>
      <td><a "#quint">Sinatra: The Framework Within</a> - Aaron Quint</td>
      <td><a "#crosby">CloudKit: Hacking the Open Stack with Ruby and Rack</a> - Jon Crosby</td>
    </tr>
    <tr class="r1"><th>11:00</th><td class="break">break</td><td class="break">break</td></tr>
    <tr class="r2"><th>11:15</th>
      <td><a "#quint">Playing With Fire: Running Uploaded Ruby Code in a Sandbox</a> - David Stevenson</td>
      <td><a "#crosby">Using Shoes to create better iPhone apps</a> - Tim Elliott</td>
    </tr>
    <tr class="r1"><th>11:45</th><td class="break">break</td><td class="break">break</td></tr>
    <tr class="r2"><th>12:00</th>
      <td><a "#quint">TrustTheVote: Open Source Digital Voting</a> - Gregory Williams</td>
      <td><a "#crosby">Using Ruby to Fight AIDS</a> - Jacqui Maher</td>
    </tr>
    <tr class="r5"><th>12:30</th><td class="break">LUNCH</td><td class="break">LUNCH</td></tr>
  </tbody>
</table>


<h2><a name="sessions"></a>Sessions</h2>
<ul class="slots">
  <li class="featured"><%= render :partial => "/sessions/panel-frameworks" %></li>
  <li><%= render :partial => "/sessions/miller-osdv" %></li>
  <li><%= render :partial => "/sessions/aimonetti-couchdb" %></li>
  <li><%= render :partial => "/sessions/borenstein-rad" %></li>
  <li><%= render :partial => "/sessions/catlin-wikimedia" %></li>
  <li><%= render :partial => "/sessions/elliott-shoes" %></li>
  <li><%= render :partial => "/sessions/grigorik-proxies" %></li>
  <li><%= render :partial => "/sessions/helmkamp-webrat" %></li>
  <li><%= render :partial => "/sessions/kallen-sprinkles" %></li>
  <li><%= render :partial => "/sessions/kilmer-macruby" %></li>
  <li><%= render :partial => "/sessions/lerche-fast" %></li>
  <li><%= render :partial => "/sessions/maher-baobab" %></li>
  <li><%= render :partial => "/sessions/sobo-unison" %></li>
</ul>
