---
title: Schedule
filter: erb
---

<h2><a name="sessions"></a>Schedule Grid</h2>
<%= render :partial => "grid" %>

<h2><a name="sessions"></a>Sessions</h2>
<ul class="slots">
  <li><%= render :partial => "/sessions/kilmer-macruby" %></li>
  <li><%= render :partial => "/sessions/quint-sinatra" %></li>
  <li><%= render :partial => "/sessions/stevenson-sandbox" %></li>
  <li><%= render :partial => "/sessions/miller-osdv" %></li>
  <li><%= render :partial => "/sessions/catlin-wikimedia" %></li>
  <li><%= render :partial => "/sessions/grigorik-proxies" %></li>
  <li class="featured"><%= render :partial => "/sessions/panel-frameworks" %></li>
  <li><%= render :partial => "/sessions/lerche-fast" %></li>
  <li><%= render :partial => "/sessions/kallen-sprinkles" %></li>

  <li><%= render :partial => "/sessions/crosby-cloudkit" %></li>
  <li><%= render :partial => "/sessions/elliott-shoes" %></li>
  <li><%= render :partial => "/sessions/maher-baobab" %></li>
  <li><%= render :partial => "/sessions/aimonetti-couchdb" %></li>
  <li><%= render :partial => "/sessions/helmkamp-webrat" %></li>
  <li><%= render :partial => "/sessions/borenstein-rad" %></li>
  <li><%= render :partial => "/sessions/sobo-unison" %></li>
</ul>
