---
title: Speakers
filter: erb
---
<h2>Speakers and Panelists</h2>
<ul class="people">
  <li><%= render :partial => "/people/borenstein" %></li>
  <li><%= render :partial => "/people/elliott" %></li>
  <li><%= render :partial => "/people/grigorik" %></li>
  <li><%= render :partial => "/people/kallen" %></li>
  <li><%= render :partial => "/people/katz" %></li>
  <li><%= render :partial => "/people/mizerany" %></li>
  <li><%= render :partial => "/people/peek" %></li>
  <li><%= render :partial => "/people/phillips" %></li>
  <li><%= render :partial => "/people/sobo" %></li>
</ul>
