---
title: Speakers
filter: erb
---

<h2>Speakers and Panelists</h2>
<ul class="slots">
  <li><%= render :partial => "/2009/people/aimonetti" %></li>
  <li><%= render :partial => "/2009/people/borenstein" %></li>
  <li><%= render :partial => "/2009/people/burchfield" %></li>
  <li><%= render :partial => "/2009/people/catlin" %></li>
  <li><%= render :partial => "/2009/people/crosby" %></li>
  <li><%= render :partial => "/2009/people/elliott" %></li>
  <li><%= render :partial => "/2009/people/grigorik" %></li>
  <li><%= render :partial => "/2009/people/helmkamp" %></li>
  <li><%= render :partial => "/2009/people/kallen" %></li>
  <li><%= render :partial => "/2009/people/katz" %></li>
  <li><%= render :partial => "/2009/people/kilmer" %></li>
  <li><%= render :partial => "/2009/people/lerche" %></li>
  <li><%= render :partial => "/2009/people/maher" %></li>
  <li><%= render :partial => "/2009/people/miller" %></li>
  <li><%= render :partial => "/2009/people/mizerany" %></li>
  <li><%= render :partial => "/2009/people/peek" %></li>
  <li><%= render :partial => "/2009/people/phillips" %></li>
  <li><%= render :partial => "/2009/people/quint" %></li>
  <li><%= render :partial => "/2009/people/sobo" %></li>
  <li><%= render :partial => "/2009/people/stevenson" %></li>
  <li><%= render :partial => "/2009/people/tyler" %></li>
</ul>
