---
title: Speakers
filter: erb
---

<h2>Speakers and Panelists</h2>
<ul class="slots">
  <li><%= render :partial => "/people/aimonetti" %></li>
  <li><%= render :partial => "/people/borenstein" %></li>
  <li><%= render :partial => "/people/catlin" %></li>
  <li><%= render :partial => "/people/crosby" %></li>
  <li><%= render :partial => "/people/elliott" %></li>
  <li><%= render :partial => "/people/grigorik" %></li>
  <li><%= render :partial => "/people/helmkamp" %></li>
  <li><%= render :partial => "/people/kallen" %></li>
  <li><%= render :partial => "/people/katz" %></li>
  <li><%= render :partial => "/people/kilmer" %></li>
  <li><%= render :partial => "/people/lerche" %></li>
  <li><%= render :partial => "/people/maher" %></li>
  <li><%= render :partial => "/people/miller" %></li>
  <li><%= render :partial => "/people/mizerany" %></li>
  <li><%= render :partial => "/people/peek" %></li>
  <li><%= render :partial => "/people/phillips" %></li>
  <li><%= render :partial => "/people/quint" %></li>
  <li><%= render :partial => "/people/sobo" %></li>
  <li><%= render :partial => "/people/stevenson" %></li>
</ul>
