---
title: Sponsors
filter: erb
---
<div class="sponsors">
  <h2>Sponsors</h2>
  <ul>
    <li><%= render :partial => "att_interactive" %></li>
    <li><%= render :partial => "engine_yard" %></li>
    <li><%= render :partial => "integrum" %></li>
    <li><%= render :partial => "jsconf" %></li>
    <li><%= render :partial => "marakana" %></li>
    <li><%= render :partial => "newrelic" %></li>
    <li><%= render :partial => "peepcode" %></li>
    <li><%= render :partial => "pivotal_labs" %></li>
    <li><%= render :partial => "railskits" %></li>
  </ul>

  <h2>Media Sponsors</h2>
  <ul>
    <li><%= render :partial => "apress" %></li>
    <li><%= render :partial => "manning" %></li>
    <li><%= render :partial => "pragmatic" %></li>
  </ul>

  <h2>Advertisers</h2>
  <ul>
    <li><%= render :partial => "elc" %></li>
  </ul>
</div>
